{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class = "d-flex justify-content-center align-items-center" style="min-height: 100vh;min-width: 100vw;background-color: #F0F0F0;">
    <div class="login shadow p-4 mb-5 bg-body rounded">
        <h1 class="text-center">Edit Product</h1>
        <br>
        
        <form method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <div class="text-center" style="margin: 1rem 0 0 0;"> 
                <input class="btn login_btn btn-outline-dark" type="submit" value="Edit Product"/>
            </div>
        </form>
        <div class="text-center" style="margin-top: 0.6rem;">
            <a href="{% url 'main:show_main' %}">
                <button class="btn btn-outline-dark">
                    Back
                </button>
            </a>
        </div>
    </div>
</div>

{% endblock %}